@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #020617;
  color: white;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}

::selection {
  background: #2563eb;
  color: white;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.avatar {
  animation: floating 5s ease-in-out infinite;
}

@keyframes floatBubble {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
  }
}

.bubble {
  animation: floatBubble 4s ease-in-out infinite;
}